.home-container {
    margin-top: 195px;
    padding-bottom: 70px;
    width: 100%;
    height: 100%;
    
}

.secone-one {
    flex-grow: 1;
    text-align: center;
}

.header {
    position: relative;
    z-index: 1; /* Убедитесь, что текст находится выше псевдоэлемента */
    margin-bottom: 200px;
}

.header::before { /* Эллипс */
    content: '';
    position: absolute;
    width: 936px;
    height: 936px;
    background: rgba(219, 219, 219, 0.4);
    border-radius: 50%;
    filter: blur(80px);
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
    z-index: -1; /* Убедитесь, что псевдоэлемент находится ниже текста */
}

.header h1, .header h2 {
    position: relative;
    z-index: 1;

    font-size: 6.25rem;
    margin-right: 10px;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #ffffff;
}


/* Стили для слов в тексте */
.header .line-container-first h1::after {
    content: "природы"; /* Слово природа */
    color: #0A7075; /* Цвет для "Природы" */
    margin-left: 20px; /* Добавим небольшой отступ */
}

.header .line-container-second h2::after {
    content: "ты!"; /* Слово ты */
    color: #0A7075; /* Цвет для "Ты" */   
    margin-left: 20px; /* Добавим небольшой отступ */
}

/* Первая строка */
.line-container-first {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 100%;
    padding-top: 10px; /* Добавляем отступ сверху */
    padding-bottom: 10px; /* Добавляем отступ снизу */
    z-index: 1;
}

.line-container-first h1 {
    margin-right: 100px; /* Отступ между текстом и линией */
}

.line-container-first::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 0;
    border-bottom: 10px dashed #ffffff; /* Пунктирная линия */
    margin-left: 10px; /* Отступ между текстом и линией */
    width: 26vw; /* Ширина линии 100% от ширины окна */
    transform: translateX(200%); /* Центрируем линию */
    overflow: hidden;
}

.line-container-first .dashed-line {
    position: absolute;
    left: 925px; /* Линия будет выдвигаться на 50px за пределы контейнера слева */
    width: 50%; /* Ширина линии 100% от ширины окна */
    border-bottom: 10px dashed #ffffff;
    margin: 0;
    padding-top: 10px; /* Добавляем отступ сверху */
}

/* Вторая строка */
.line-container-second {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    width: 100%;
    z-index: 1;
}

.line-container-second::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 0;
    border-bottom: 10px dashed #ffffff; /* Пунктирная линия */
    margin-right: 10px; /* Отступ между текстом и линией */
    width: 70vw; /* Ширина линии 100% от ширины окна */
    transform: translateX(-50%); /* Центрируем линию */
    overflow: hidden;
}

.line-container-second .dashed-line {
    margin-left: 100px; /* Добавляем отступ между текстом и линией */
}

/* Пунктирная линия для второй строки */
.line-container-second .dashed-line {
    position: absolute;
    right: 475px; /* Позиционируем линию слева */
    width: 100%; /* Ширина линии 100% от ширины окна */
    border-bottom: 10px dashed #ffffff;
    margin: 0;
    padding-top: 10px; /* Добавляем отступ сверху */
}


.button-group {
    display: flex;
    justify-content: flex-start;
    gap: 20px; /* Расстояние между кнопками */
    margin-top: 20px; /* Отступ сверху для всей группы кнопок */
}

/* Стили для кнопки "Очистить природу" */
.btn-title {
    background-color: #0C969C;
    color: #ffffff;
    border-radius: 32.5px;
    border-color: #0C969C;
    width: 250px;
    height: 55px;
    font-size: 18px;
    
    font-family: 'Montserrat Alternates', sans-serif;
    z-index: 1;
    outline: none;
}

.btn-title.two {
    background-color: transparent;
    color: #0C969C;
    border-radius: 32.5px;
    border: 3px solid #0C969C; /* Добавляем границу */
    width: 250px;
    height: 55px;
    font-size: 18px;
    font-weight: bold; /* Жирный текст */
    
    font-family: 'Montserrat Alternates', sans-serif;
    z-index: 1;
    outline: none;
}
/* Убираем синий фон и границу при фокусе */
.btn-title:focus {
    outline: none !important; /* Убираем стандартную обводку */
    box-shadow: none !important; /* Убираем эффект тени */
  }
  
  /* Убираем синий фон при активации кнопки */
  .btn-title:active {
    background-color: #0A7075 !important; /* Цвет фона при нажатии */
    color: #ffffff !important; /* Цвет текста при нажатии */
    border-color: #0A7075 !important; /* Цвет границы при нажатии */
  }

/* Для браузеров, которые добавляют стили при фокусе и нажатии */
.btn-title:focus-visible {
    outline: none; /* Убираем выделение */
  }

/* Убираем синий фон при наведении */
.btn-title:hover {
    background-color: #0A7075; /* Цвет при наведении */
    color: #ffffff; /* Цвет текста при наведении */
    border-color: #0A7075; /* Цвет границы при наведении */
    outline: none;
}

/* -----------------О проекте----------------------------------- */
.project-container {
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}
  
.project-header h1 {
    text-align: right;
    color: #ffffff;
    background-color: #087174;
    padding: 10px 20px;
    border-radius: 0px 30px 30px 0;
    margin-top: 50px;
    margin-right: 70px;
    margin-left: -550px;
    width: 920px;
    font-family: 'Montserrat Alternates', sans-serif;
}
  
.project-goal {
    background-color: #0A7075;
    color: #ffffff;
    padding: 50px;
    border-radius: 10px;
    font-family: 'Montserrat Alternates', sans-serif;
    margin-top: 50px;
    /* Rectangle 28 */
    left: 241px;
    top: 252px;
    border-radius: 30px;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 100% 200%;
    background-clip: padding-box;
}

  
.project-goal h2 {
    margin-bottom: 40px;
    font-size: 1.5em;
}
  
.project-goal p {
    margin: 0;
    font-size: 1.2em;
}
  
.project-functionality {
    background-color: #13AAB1;
    color: #ffffff;
    padding: 50px;
    border-radius: 10px;
    font-family: 'Montserrat Alternates', sans-serif;
    margin-top: 115px;
    /* Rectangle 28 */
    left: 241px;
    top: 252px;
    border-radius: 30px;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 100% 200%;
    background-clip: padding-box;
}
  
.project-functionality h2 {
    font-size: 1.5em;
    color: #ffffff;
    margin-bottom: 40px;
}
  
.buttons-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}
  
.function-button {
    flex: 20%;
    background-color: #0A7075;
    color: #ffffff;
    font-size: 1em;
    font-weight: bold;
    padding: 20px 20px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none; /* Убираем границу */
    outline: none; /* Убираем обводку при фокусировке */
}
  
.function-button img {
    width: 30px;
    height: 30px;
    margin-right: 10px; /* Отступ между изображением и текстом */
}

.function-button:hover {
    transform: scale(1.05);
}

/* --------------Актуальность----------------------------------- */
.actuality-container{
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
}

.actuality-header h1{
    text-align: right;
    color: #ffffff;
    background-color: #087174;
    padding: 10px 20px;
    border-radius: 0px 30px 30px 0;
    margin-top: 50px;
    margin-right: 70px;
    margin-left: -550px;
    width: 920px;
    font-family: 'Montserrat Alternates', sans-serif;
}

.actual-sliders{
    margin-top: 100px;
}

.actual-sliders-item{
    /* Frame 18 */
    position: fixed;
    width: 424px;
    height: 636px;

    border-radius: 15px;
    box-shadow: 6px 1px 13px 0px rgba(0, 0, 0, 0.25);
    background: rgb(44, 161, 165);
}
/* --------------Пункты переработки----------------------------------- */

.maps-header h1{
    text-align: right;
    color: #ffffff;
    background-color: #087174;
    padding: 10px 20px;
    border-radius: 0px 30px 30px 0;
    margin-top: 50px;
    margin-right: 70px;
    margin-left: -550px;
    width: 920px;
    font-family: 'Montserrat Alternates', sans-serif;
}



/* --------------Этапы----------------------------------- */

.stages-container{
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
}

.stages-header h1{
    text-align: right;
    color: #ffffff;
    background-color: #087174;
    padding: 10px 20px;
    border-radius: 0px 30px 30px 0;
    margin-top: 50px;
    margin-right: 70px;
    margin-left: -550px;
    width: 920px;
    font-family: 'Montserrat Alternates', sans-serif;
}
.stages-items{
    display: flex;
    justify-content: flex-start;
    margin-top: 40px;
}
.two{
    justify-content: flex-end;
}
.stage_1{
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 30px;
    background: rgb(12, 150, 156);
    width: 825px;
}
.stagetwo{

}

.stage_1_text{
    margin: 20px;
    margin-right: 20px;
    width: 324px;
    text-align: center;
}

.stage_1_text h2{
    font-size: 242px;
    font-weight: bold;
    color: #ffffff;
    background-color: #087174;
    border-radius: 36px;
}

.stage_1_items{

}